.mySlides {
    display: none
}

body {
    font-family: 'Roboto', sans-serif;
    background: black;
    color: #ffffff;
}

/* navbar */
.sadness-navbar {
    background-color: black;
    border: none;
    padding: 1rem 0;
}

.sadness-navbar .navbar-brand {
    font-family: 'Arial', sans-serif;
    color: #F0F8FF;
    font-size: 1.8rem;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
}

.sadness-navbar .navbar-logo {
    height: 40px;
    margin-right: 10px;
}

.sadness-navbar .nav-link {
    color: #F0F8FF !important;
    font-size: 1rem;
    text-transform: uppercase;
    margin: 0 10px;
    transition: all 0.3s ease;
}

.sadness-navbar .nav-link:hover {
    color: #ADD8E6 !important;
    text-shadow: 0 0 5px rgba(173, 216, 230, 0.8);
    font-weight: bold;
}

.sadness-navbar .navbar-toggler {
    border-color: rgb(255, 255, 255);
}

.sadness-navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(240, 248, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}

@media (max-width: 768px) {
    .sadness-navbar .nav-link {
        text-align: center;
        margin: 5px 0;
    }
}
h2,
h3 {
    color: #ADE8F4;
}

.w3-black {
    background: linear-gradient(to top, rgba(29, 53, 87, 1), rgba(29, 53, 87, 0));
}

/* banner */

.banner-text-bg {
    background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    width: 100%;
}


/* footer */
.footer {
    background: radial-gradient(circle, #A3D8F4, #6EC6FF, #5A8FD8, #457B9D, #264653) !important;
}

/* card */

.card-bg {

    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: justify;

}


.card-bg:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}


.btn {
    background: #1D3557;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background: #457B9D;
}


@media (max-width: 767px) {
    .card {
        margin-bottom: 20px;
    }
}


@media (min-width: 768px) and (max-width: 992px) {
    .card {
        margin-bottom: 15px;
    }
}

@media (min-width: 992px) {
    .row-cols-lg-4 {
        display: flex;
        justify-content: space-between;
    }
}


/* message me */
.message-bg {
    background: linear-gradient(to top, rgb(0, 0, 0), rgba(29, 53, 87, 0));


}

.w3-button {
    background: radial-gradient(circle, #A3D8F4, #6EC6FF, #5A8FD8);
    border-radius: 20px;
    color: black;
    font-weight: bold;
}

.w3-button:hover {
    color: white !important;
}

.content-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.img-featured-container {
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover .img-featured-container img {
    transform: scale(1.1);
}

.card-body {
    transition: opacity 0.3s ease-in-out;
}

.card:hover .card-body {
    opacity: 0.9;
}

.card-text {
    text-align: justify;
}

.island-description{

}